//-------------------------------------
//  CORPO  ----------------------------

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 25px;
  
    min-height: 80vh;
    max-width: 800px;

    .logo2 {
        width: 250px;
    }

    h1 {
        color: $white-normal;
        font-size: 25px;
        letter-spacing: 1px;
        margin: 0 2px;
        opacity: 0.5;
    }

    h2 {
        color: $white-normal;
        font-size: 25px;
        letter-spacing: 2px;
    }

    a {
        padding: 14px 28px;
        color: $white-normal;
      
        border-radius: 30px;
        font-size: 18px;
        margin-left: 170px;
    }
}
/*
@media screen and (max-width: 768px) {
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 32px;
            padding: 0 14px;
            width: 100%;
        }

        p {
            font-size: 16px;
        }
    }

    .button-contact {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }
}
*/
// -----------------------------------------

//   ABOUT  --------------------------------
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px;
    

    img {
        max-width: 570px;
    }
}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
        color: $white-normal;
        opacity: 0.5;
    }

    P {
        margin-bottom: 14px;
        line-height: 150%;
        color: $white-normal;
        font-size: 25px;
        opacity: 0.5;
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;

        img {
            max-width: 100%;
        }
    }

    .about-description {
        h2 {
            font-size: 28px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 480px) {
    .about-description {
        h2 {
            font-size: 24px;
        }

        p {
            font-size: 14px;
        }
    }
}

// -----------------------------------------
//          --------------------------------